<div *ngIf="current.description === ''">
  No data available
</div>
<div *ngIf="current.description !== ''" >
  <mat-card class="weather-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{current.city}}, {{current.country}}</mat-card-title>
      <mat-card-subtitle>{{current.date | date:'fullDate'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="current.image" alt="Photo of a weather">
    <mat-card-content>
      <p>
        {{current.temperature | number:'1.0-0'}} &deg;F
      </p>
      <p>
        {{current.description}}
      </p>
    </mat-card-content>
  </mat-card>

</div>
